{% extends "layout.html" %}
{% block title %}PyPI Download Stats{% endblock %}
{% block body %}
    <h1>About PyPI Stats</h1>
    <hr>
    <h3>Goal</h3>
    <p>PyPI Stats aims to provide aggregate download information on python packages available from the Python Package Index in lieu of having to execute queries against raw download records in Google BigQuery.</p>
    <h3>Data</h3>
    <p>Download stats are sourced from the Python Software Foundation's publicly available
        <a href="https://bigquery.cloud.google.com/table/the-psf:pypi.downloads">download stats</a>
        on Google BigQuery. All aggregate download stats ignore known PyPI mirrors (such as
        <a href="{{url_for('general.package', package='bandersnatch')}}">bandersnatch</a>) unless noted otherwise.</p>
    <p>PyPI Stats attempts to operate within the free tier of its hosted services. For this reason, aggregate data is only retained for 90 days.</p>
    <h3>API</h3>
    <p>A simple
        <a href="{{url_for('api.api')}}">JSON API</a>
        is available for aggregate download stats and time series for packages.</p>
    <h3>Tech</h3>
    <p>PyPI Stats is a project developed using Python 3.6. Here are some of the tools used to create it:
        <ul>
            <li>Framework:
                <a href="{{url_for('general.package', package='flask')}}">Flask</a>
            </li>
            <li>
                Host:
                <a href="{{url_for('general.package', package='awscli')}}">AWS</a>
            </li>
            <li>Authentication:
                <a href="{{url_for('general.package', package='github-flask')}}">GitHub OAuth</a>
            </li>
            <li>
                ORM:
                <a href="{{url_for('general.package', package='sqlalchemy')}}">SQLAlchemy</a>
            </li>
            <li>
                DBAPI:
                <a href="{{url_for('general.package', package='psycopg2')}}">psycopg2</a>
            </li>
            <li>
                RDBMS:
                <a href="{{url_for('general.package', package='alembic')}}">alembic</a>
            </li>
            <li>
                Templating:
                <a href="{{url_for('general.package', package='jinja2')}}">jinja2</a>
            </li>

            <li>Charts:
                <a href="{{url_for('general.package', package='plotly')}}">plotly.js</a>
            </li>
            <li>Data:
                <a href="{{url_for('general.package', package='google-cloud-bigquery')}}">Google Cloud's BigQuery</a>
            </li>
            <li>
                <a href="{{url_for('general.package', package='__all__')}}">And many more open source software packages</a>
            </li>
        </ul>
    </p>
    <p>PyPIStats.org is also <a href="https://github.com/crflynn/pypistats.org">open source</a>.</p>
    <h3>Who</h3>
    <p>PyPI Stats was created by
        <a href="https://flynn.gg">Christopher Flynn</a>.
    </p>

{% endblock %}
