{% extends "layout.html" %}
{% block title %}PyPI Download Stats{% endblock %}
{% block body %}
    <h1>Analytics for PyPI packages</h1>
    <hr>
    <form method="POST" action="/admin">
        {{ form.csrf_token }}
        {{ form.date.label }}
        {{ form.date(size=24) }}
        <input type="submit" value="Submit">
    </form>
    <br>
    {% if not date %}
        <p>Submit date to run backfill.</p>
    {% endif %}
    {% if date %}
        <br>
        {{ date }} submitted.
    {% endif %}
{% endblock %}
