{% extends "layout.html" %}
{% block title %}PyPI Download Stats{% endblock %}
{% block body %}
    <h1>Analytics for PyPI packages</h1>
    <hr>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.name.label }}
        {{ form.name(size=24) }}
        <input type="submit" value="Search">
    </form>
    <br>
    {% if not search %}
        <p>Search among
            <b>{{ "{:,.0f}".format(package_count) }}</b>
            python packages from PyPI (updated daily).</p>
    {% else %}
        Search results:
    {% endif %}
    {% if search %}
        <br>
        {% include "results.html" %}
    {% endif %}
{% endblock %}
