{% extends "layout.html" %}
{% block title %}PyPI Download Stats{% endblock %}
{% block body %}
    {% if user %}

        <h1><img src="{{ user.avatar_url }}" height="25" width="25">
            {{ user.username }}'s Packages</h1>
        <hr>
        <p>Currently saved packages.</p>
        {% if user.favorites %}
            <p>
            <ul>
                {% for package in user.favorites %}
                    <li>
                        <a href="{{ url_for('general.package_page', package=package) }}">{{ package }}</a>
                    </li>
                {% endfor %}
            </ul>
            </p>
        {% else %}
            <p>Not tracking any packages.</p>
        {% endif %}
    {% else %}
        <h1>My Packages</h1>
        <hr>
        <p>Log in with GitHub OAuth to track your own set of packages.</p>
        <p>
            <a href="{{ url_for('user.login') }}">Log in</a>
        </p>
    {% endif %}
{% endblock %}