# project
.git
.gitignore
.dockerignore
Dockerfile
README.rst
docs/
envs/
scripts/
tests/

# mac osx
.DS_Store

# python bytecode
*.py[cod]
__pycache__

# celery
celerybeat-schedule
celerybeat.pid

# redis
dump.rdb

# Elastic Beanstalk Files
.elasticbeanstalk
