# project
.git
.gitignore
.dockerignore
Dockerfile
README.rst
docs/
migrations/
tests/
envs/
terraform/
pypistats.egg-info/
.idea/

# mac osx
.DS_Store

# python bytecode
*.py[cod]
__pycache__

# ignore
ignore/

# celery
celerybeat-schedule
celerybeat.pid

# redis
dump.rdb

# Elastic Beanstalk Files
.elasticbeanstalk
.git
.gitignore
