# credentials
*.env

# mac osx
.DS_Store

# python bytecode
*.py[cod]
__pycache__

# ignore
ignore/

# celery
celerybeat-schedule
celerybeat.pid

# redis
dump.rdb

# Elastic Beanstalk Files
.elasticbeanstalk
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# intellij
.idea/