[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

google-cloud-bigquery = "*"
"psycopg2" = "*"
Flask = "*"
GitHub-Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-Login = "*"
Flask-WTF = "*"
celery = "*"
redis = "*"
Flask-SSLify = "*"
gunicorn = "*"


[dev-packages]

awsebcli = "*"
