[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "==1.6.0"
"psycopg2" = "==2.7.5"
flask = "==1.0.2"
github-flask = "==3.2.0"
flask-sqlalchemy = "==2.3.2"
flask-migrate = "==2.3.0"
flask-login = "==0.4.1"
flask-wtf = "==0.14.3"
celery = "==4.2.1"
redis = "==3.2.0"
flask-sslify = "==0.1.5"
gunicorn = "==19.9.0"
requests = "==2.20.0"
flask-limiter = "==1.2.1"
werkzeug = "==0.16.0"

[dev-packages]
awsebcli = "*"
